@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-main:   #556B2F;
  --clr-primary-light:  #6B8E23;
  --clr-secondary-main: #8F9779;
  --clr-bg-default:     #ffffff;
  --clr-bg-paper:       #ffffff;
  --clr-text-primary:   #2F4F4F;
  --clr-text-secondary: #556B2F;
  --clr-success:        #556B2F;
  --clr-success-light:  #C5E1A5;
  --clr-warning:        #FFB74D;
  --clr-error:          #8B0000;
  --clr-divider:        #ccc;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f9fa;
}

/* Reset default margins and paddings */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--clr-bg-default);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

button {
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--clr-bg-paper);
  color:            var(--clr-text-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
    color: #213547;
  }
}
